.news__block {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 270px));
  gap: 20px;
}

.news__card {
  height: 360px;
}

.news__card-image {
  margin-bottom: 10px;
}

.news__card-img {
  display: block;
  width: 270px;
  height: 200px;
  object-fit: cover;
}

.news__card-main {
  display: flex;
  height: 84px;
  margin-bottom: 10px;
}

.news__card-main-text {
  max-width: 240px;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: var( --color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.news__card-main-link {
  min-width: 24px;
  height: 24px;
}

.news__card-text-description {
  max-width: 270px;
  font-weight: 300;
  font-size: 12px;
  color: var( --color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}

.news__card-text-signature {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 10px;
  line-height: 130%;
  color: var(--color-gray);
}

.news__card-text-signature-block {
  display: flex;
  gap: 12px;
}

.news__card-text-signature-name {
  width: 59px;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 920px) {
  .news__block {
    grid-template-columns: repeat(4, minmax(150px, 240px));
    gap: 15px;
  }
  .news__card {
    height: 330px;
  }
  
  .news__card-img {
    width: 240px;
    height: 170px;
  }
  
  .news__card-main {
    height: 70px;
  }
  
  .news__card-main-text {
    max-width: 210px;
    font-size: 14px;
  }
  
  .news__card-text-description {
    max-width: 240px;
    font-size: 10px;
  }
  
  .news__card-text-signature {
    font-size: 8px;
  }

  .news__card-text-signature {
    max-width: 240px;
  }
  
  .news__card-text-signature-block {
    display: flex;
    gap: 12px;
  }
}


@media (max-width: 720px) {
  .news__block {
    grid-template-columns: repeat(2, minmax(150px, 240px));
    justify-content: space-between;
    gap: 10px;
  }
  
  .news__card-text-signature-block {
    display: flex;
    gap: 12px;
  }
}

@media (max-width: 500px) {
  .news__block {
    gap: 7px;
  }
  
  .news__card-main {
    height: 70px;
  }
  
  .news__card-main-text {
    font-size: 12px;
  }
  
  .news__card-text-description {
    font-size: 8px;
  }
  
  .news__card-text-signature {
    font-size: 6px;
  }
}

@media (max-width: 400px) {
  .news__block {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 7px;
  }
}